{% extends "base.html" %}

{% block inline_css %}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 700px;
        width: 100%;
      }
</style>
{% endblock %}

{% block body %}
    <div id="map"></div>
    <script>
      function initMap() {

        var dangerIcon = "https://www.iconsdb.com/icons/preview/soylent-red/warning-xxl.png"

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 50.050, lng: 19.95}
        });

        var infoWindow = new google.maps.InfoWindow();

        var iconOK = 'https://cdn3.iconfinder.com/data/icons/fatcow/32/accept.png'
        var iconWarning = 'https://cdn3.iconfinder.com/data/icons/fatcow/32x32_0400/error.png'
        var iconDanger = 'https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/caution-32.png';

        var markers = locations.map(function(location, i) {

            var icon = '';
            if (location.pm2_5 > 25  || location.pm10 > 50) {
                if (location.pm2_5 > 25 && location.pm10 > 50) {
                    icon = iconDanger;
                } else {
                    icon = iconWarning;
                    if (location.pm2_5 == -1 || location.pm10 == -1) {
                        icon = iconDanger;
                    }
                }
            } else {
                icon = iconOK;
                if (location.pm2_5 == -1 && location.pm10 == -1) {
                    icon = iconDanger;
                }
            }

            var marker = new google.maps.Marker({
                position: location.position,
                title: location.title,
                icon: icon
            });
            google.maps.event.addListener(marker, 'click', function(e) {
                infoWindow.setContent(location.info);
                infoWindow.open(map, marker)
            })

            return marker;
        });


        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }

      var locations = [
      {% for station in stations %}
        {
            position: {
                lat: {{ station.lat}},
                lng: {{ station.lng }}
            },
            id: {{ station.id }},
            pm2_5: '{{ station.pm2_5|default_if_none:-1 }}',
            pm10: '{{ station.pm10|default_if_none:-1}}',
            title: '{{ station.stationname }} - {{ station.street }}',
            info: '<div>'
            +'<p><strong>Vendor:</strong> {{ station.vendor }}</p>'
            +'<p><strong>Station name:</strong> {{ station.stationname }}</p>'
            +'<p><strong>Address:</strong> {{ station.street }}</p>'
            +'<p><strong>Latest measurement:</strong> {{ station.date|date:"Y-m-d H:i:s" }}</p>'
            +'<p><strong>PM2.5:</strong> {{ station.pm2_5|floatformat }}</p>'
            +'<p><strong>PM10:</strong> {{ station.pm10|floatformat }}</p>'
            +'<p><strong>Temperature:</strong> {{ station.temp|floatformat }}°C</p>'
            +'<p><strong>History:</strong> <a href="station/{{ station.id }}">click</a></p>'
        },
      {% endfor %}
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNWHyEiDeN476Qw_IQwG-pcFlKDkoB_X0&callback=initMap">
    </script>
{% endblock %}